extends layout

block content
  .post
    h1=post.title
    p.meta Posted in #{''}
      a(href='/categories/show/' + post.category) #{post.category} #{''}
      |by #{post.author}
      |on #{moment(post.date).format("DD-MM-YY")}
    img(src='/images/' + post.mainImage)
    !=post.body
